{% extends 'base.html.twig' %}

{% block title %} Modifier  {% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('address_index') }}">Carnet de contact</a></li>
            <li class="breadcrumb-item active" aria-current="page">Consulter le contact</li>
        </ol>
    </nav>
    <div class="container py-5">
        <h1>{{ address.title}} {{ address.first_name}} {{ address.last_name}}</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Adresse email</th>
                <td>{{ address.email }}</td>
            </tr>
            <tr>
                <th>Numéro de téléphone</th>
                <td>{{ address.mobile }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ address.category }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
